@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif"; 
}

/* MY COLOOUUURRRSSSS */

/* var(--uno); var(--dos); var(--tres) */
:root {
--uno: #3E62AE;
--dos: #B4C5E4;
--tres: white;
}



/* LANDING PAGE DECORATIONS*/

 .lp a{
  display: block;
  background-color: --var(uno);
  color: --var(tres);
  border: none;
  font-size: 20px;
  margin-left: 13%;
  text-decoration: none;
  padding: 10px;
  border-radius: 12px;
  font: Semplicita Pro;
  cursor: pointer;
  width: 150px;
  text-align: center;
  filter: drop-shadow(0px 2px 2px #909090);
}

/* To animate the get started button */
.lp a:hover { 
  transform: scale(1.1);

}

/* sb is the photo of the logo*/
.sb {
  margin-left: 12%;
  margin-top: 10%;
  margin-bottom: 30px;
}

/* this was an extreme struggle to layer the scg vector behind the logo and button */
.Path_1 {
  fill: #B4C5E4;
  position: relative;
  transform: translateY(-52%);
  z-index: -1;
}

body .Path_1 {
  width:100%;
  height: 100%
}

body .lp{
  width: 100%;
  height:100%;
}




/* TASK LIST CSS */

/* Creating a grid using layitout for the different sections of the page. */
.container {  
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav"
    "Menu Main Main"
    "Menu Main Main"
    "Menu Main Main";
}

/* giving the nav a dropshadow to create illusion of depth */
nav { 
  grid-area: nav; 
  background-color: var(--uno);
  filter: drop-shadow(0px 2px 2px #909090);
  text-decoration: none;
  text-align: center;

}



/* margin: auto to centre the logo */
nav .logo {
 margin:auto;
}


/* initially had the aside menu in a section tag but changed it to a div as it was effecting the use of a section in another area of the code */
.sidebar{ 
  grid-area: Menu;
  background-color: var(--dos);
  font-size: 20px;
}

main { 
  grid-area: Main; 
}

.active {
  background-color: #9AAFD8;
}

a{
  padding: 10px;
  text-decoration: none;
  
}
nav .right{
  float: right;
  height: 100%;
  
}

nav .left{
  float: left;
  height: 100%;
  
}

nav a{
  color: white;
  padding: 25px 10px;
  margin-top: 5px;
}


.sidebar a{
  color: black;
  margin: 2% 10%;
  border-radius: 5px;
}
nav a:hover{
  background-color: var(--dos);
}

/* so the user can see which option on the side bar why are going to pick */
.sidebar a:hover{
  background-color: #9AAFD8;
}

html, body , .container {
  height: 100%;
  margin: 0;
}

.sidebar a{
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 100%;
}


/* STOPWATCH */


.wrapper {
width: 100%;
margin: 30px 10%;
color:black;
text-align:center;
  margin-top: 10%;
}

#stp {
  margin-left: 10%;
}

h1 {
  font-weight: 100;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
}

#minutes, #seconds, #tens{
  font-size:5em;
}

/* wanted these to be smaller */
#dots {
 font-size:4em; 
}

/* decoratig the buttons*/
.stopbtns button{
border-radius: 25px;
background:var(--uno);
color:var(--tres);
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  
}

nav button:hover{
  background: #9AAFD8;
	}


@media screen and (max-width:500px) {
      
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav"
    "Main Main Main"
    "Main Main Main"
    "Main Main Main";
}  
   }

/* PROMODO TIMER */


#container {
    height: 100%;
    background-color: var(--dos);
    border-radius: 25px;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    filter: drop-shadow(0px 2px 2px #909090);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;
    

    font-size: 30px;
    margin-bottom: 1em;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
#cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
    margin-left: 30px;
    margin-right: 30px;
  
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

#work-timer, #counter, #break-timer {
font-size: 50px;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;
    background: var(--uno);
    color:var(--tres);
    border: none;
    border-radius: 10px;

    width: 100px;
    height: 40px;

    font-size: 20px;
    
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}

#tim {
  margin-left: 10%;
}


h3 {
  margin-bottom: 0;
  font-weight: 400;
}

.main {
  margin-top: 8px;
  display: flex;
  width: 100%;
  margin-left: 10%;
}



aside {
  flex: 1;
}

section {
  width: 25%;
}

input[type="text"] {
  margin-top: 5px;
  width: auto;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.oi-chevron-top,
.oi-chevron-bottom {
  font-size: 20px;
  color: white;
}

.oi-x {
  color: black;
}

.oi-check {
  color: black;
  font-size: 25px;
}

.colors {
  align-items: center;
}

.color {
  box-sizing: border-box;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 20%;
  border: 0;
  
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lists {
  display: flex;
  justify-content: space-around;
  flex: 15;
}

.list {
  align-self: flex-start;
}

.list > header {
  background-color: #3E62AE;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
}

main h1{
  margin-left: 10%;
}


main .main {
  width: 90%;
}

.list-body {
  height: 100%;
}

.kanban-card {
  background-color: #ffeb3b;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.kanban-card > button {
  align-self: flex-start;
}

.kanban-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#red {
  background: #f44336;
  /* white text */
}

#yellow {
  background: #ffeb3b;
  /* black text */
}

#green {
  background: #4caf50;
  /* black text */
}

.tlcontainer {  
  display: grid;
  grid-template-columns: 1.5fr 0.6fr 0.9fr;
  grid-template-rows: 14.8% 2.7fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title Title"
    "List Task Task"
    "List Task Task"
    "List Task Task";
}

.List { grid-area: List; }

.Task { grid-area: Task; }

.Title { grid-area: Title; }


html, body , .tlcontainer {
  height: 100%;
  margin: 0;
}



.tlcontainer * {
  position: relative;
}

.squeeze {
  width: 70%;
  margin: auto;
  padding: 5px 20px 30px 20px;
  background: #B4C5E4;
  border-radius: 25px;
  filter: drop-shadow(0px 2px 2px #909090);
}

.tlcontainer *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

a {
  display: inline-block;
}

.btn-primary {
  background: #9AAFD8;
  border: none;
  padding: 10px 5px 10px 5px; 
  border-radius: 10px; 
  margin-top: 20px;
}

.btn-primary:hover {
  background: #6f8abd;
}
.form-group, .row {
  margin-bottom: 20px;
  font-size: 20px;
}
.create {
  font-size: 30px;
  margin-bottom: 20px;

}

.tasks {
  margin: 5px;
}

.tasks ul {
  padding: 0;
  width: 90%;
  margin: auto;
  list-style: none;
}

.tasks ul li {
  cursor: pointer;
  position: relative;
  padding: 10px 8px 10px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  margin-bottom: 8px;
  border-radius: 12px;
}


.tasks ul li:nth-child(odd) {
 background: #f9f9f9; 
}

.tasks ul li:hover {
  background: #ddd; 
}

.dropdown-list {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 16px;
  border-radius: 12px;
}

.close:hover {
  background-color: #f44336;
  color: white;
  
}

.jumbotron {
  color: black;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 5%;
}

.btn-primary,
.btn-success {
  width: 100%;
}

.pagination {
  padding-left: 40px !important;
  cursor: pointer !important;
}

@media screen and (max-width:500px) {
  
  .tlcontainer {  
  display: grid;
  grid-template-columns: 1.5fr 0.6fr 0.9fr;
  grid-template-rows: 14.8% 2.7fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title Title"
    "List List List"
    "List List List"
    "List Task Task";
}
}


/* MUSIC PLAYER */


* {
  box-sizing: border-box;
}


.top {
  margin-left: 10%;  
  margin-top: 5%;
  font-size: 3em;
}

.bod {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}

.music-container {
  background-color: #3E62AE;
  border-radius: 15px;
  filter: drop-shadow(0px 2px 2px #909090);
  display: flex;
  padding: 20px 30px;
  position: relative;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #3E62AE;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;

  
}

nav .action-btn {
  padding: 25px 10px;
  margin-top: 3px;
}

main .action-btn {
   margin: 0 20px;
   padding: 10px;
}

 main .action-btn:hover {
  transform: scale(1.2); 
}
.action-btn.action-btn-big {
  color: white;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: #B4C5E4;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: -1;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #3E62AE;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

